@model AssignmentEpicUserViewModel
<style>
    .dikdortgen {
        height: 15%;
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        float: left;
        margin-right: 20px;
    }

    .header {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .content {
        margin-bottom: 15px;
    }

    .list-group .list-group-item.active {
        margin: 5px;
        background-color: #88d6f3 !important;
        border-color: #88d6f3 !important;
    }

    .list-group .list-group-item.active:hover {
        background-color: #6ba4d5 !important;
        border-color: #6ba4d5 !important;
    }
</style>


@if (Model.assignments.Count() == 0)
{
    <h3>There is no assignment.</h3>
}
@foreach (var assignment in Model.assignments)
{
    var epic = Model.epics.FirstOrDefault(e => e.Id == assignment.EpicId);
    var user = Model.users.FirstOrDefault(u => u.Id == assignment.UserId);
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start active" asp-action="Edit" asp-controller="Assignment" asp-route-id="@assignment.Id">
            <h5 class="mb-1">Assignee: @user.Surname, @user.Name</h5>
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">Assignment: @assignment.Name</h6>
                <small>Created: @(assignment.CreationDate.ToString("dd/MM/yyyy"))</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
                @if (assignment.Details != null)
                {
                    <p class="mb-1">Details: @assignment.Details</p>
                }
                @if (assignment.DueDate != null)
                {
                    <small>Due at: @assignment.DueDate.ToString().Substring(0, 9)</small>
                }
            </div>
            @if (assignment.Comment != null)
            {
                <small>Comment: @(assignment.Comment)</small>
            }
            <div class="d-flex w-100 justify-content-between">
                <small>Epic: @epic.Name</small>
                <small>Status: @assignment.Status</small>
            </div>
            
        </a>
    </div>
}